.navbar-brand {
    color: $primary;
    font-size: 1.5rem;
    font-weight: bold;
}

.avatar {
    width: 35px;
    height: 35px;
}

.subscribed-avatar {
    width: 120px;
    height: 120px;
}

.avatar-video {
    width: 80px;
    height: 80px;
    background-size: cover;
}

.avatar-comment {
    width: 40px;
    height: 40px;
}

svg > path {
    fill: white;
}

svg:hover > path {
    fill: $primary;
}

.active-svg > svg > path {
    fill: $primary;
}

.btn-transparent {
    background-color: transparent;
    border: none;
    outline: none;
}

@media only screen and (max-width: 800px) {
    .subscribed-avatar {
        width: 80px;
        height: 80px;
    }
    .avatar-video {
        width: 60px;
        height: 60px;
    }
}

@media only screen and (max-width: 1000px) {
    .subscribed-avatar {
        width: 100px;
        height: 100px;
    }
}
