// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$white: #ffffff;
// $blue: #3490dc;
// $indigo: #6574cd;
// $purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #ffa500;
$gray: #292929;
$gray-text: #808080;
$gray-800: #1b1b1b;
// $yellow: #ffed4a;
// $green: #38c172;
// $teal: #4dc0b5;
// $cyan: #6cb2eb;

$primary: $orange;
$secondary: $gray;
$info: $gray-text;

$body-bg: $gray;
$body-color: $white;

// links
$link-color: $white;
$link-hover-color: $orange;

$grid-gutter-width: 10px;
